.card-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  color: white;
  /* border: 2px solid white; */
  padding: 20px 40px;
  gap: 15px;
  /* align-items: center; */
  flex-wrap: wrap;
}
